#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.InstrumentText {
  color:rgba(255, 214, 214, 0.87);
  text-align: left;
}

.InstrumentImg {
  width: 25%;
  image-orientation: 90deg;
}